<div class="container mt-5" >

  <div class="example-container mat-elevation-z8">
    
  
    <div class="example-table-container">
  
      <table mat-table [dataSource]="userDataList" class="example-table w-100" matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
        <!-- Number Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let row">{{row._id}}</td>
        </ng-container>
  
        <!-- Title Column -->
        <ng-container matColumnDef="user_name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let row">{{row.user_name}}</td>
        </ng-container>
  
        <!-- State Column -->
        <ng-container matColumnDef="user_email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let row">{{row.user_email}}</td>
        </ng-container>
  
        <!-- Created Column -->
        <ng-container matColumnDef="user_mobile_number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Mobile Number
          </th>
          <td mat-cell *matCellDef="let row">{{row.user_mobile_number}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Action
          </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  
  </div>
</div>